<h1> Sign up </h1>

<form action="/insert_user_record" method="post">
  <div>
    <label for="username_box">
      Username
    </label>
    <input id="username_box" type="text" name="input_username">
  </div>

  <div>
    <label for="password_box">
      Password
    </label>
    <input id="password_box" type="password" name="input_password">
  </div>

  <div>
    <label for="password_confirmation_box">
      Password Confirmation
    </label>
    <input id="password_confirmation_box" type="password" name="input_password_confirmation">
  </div>

  <div>
    <label for="private_selection">
      Private
    </label>
    <input id="private_selection" type="checkbox" name="input_private">
  </div>

  <button>
    Sign up
  </button>

</form>