<h1> Sign in </h1>

<form action="/verify_credentials" method="post">
  <div>
    <label for="username_box">
      Username
    </label>
    <input id="username_box" type="text" name="input_username">
  </div>

  <div>
    <label for="password_box">
      Password
    </label>
    <input id="password_box" type="password" name="input_password">
  </div>

  <button>
    Sign in 
  </button>

</form>